SUPABASE_URL=https://rxougwgamltomucyscco.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ4b3Vnd2dhbWx0b211Y3lzY2NvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1NDgyNjQsImV4cCI6MjA5MzEyNDI2NH0.wZwFdrBq0QXzwRNrYbhlxs21nqCpf4y9XyWQeFXqDY4